body {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    font-style: italic;
    font-size: 20px; }

main {
    display: flex;
    flex-direction: row;
    flex: auto; }

article {
    flex: 2;
    overflow: auto; }

aside {
    flex: 1;
    overflow: auto; }
    